body{
    background: cornflowerblue;
    height: 100vh;
}
h3{
    text-align: center;
}
.register_page{
    width: 360px;
    margin: auto;
}
.form{
    font-family: 'Montserrat',sans-serif;
    position: relative;
    z-index: 1;
    background: #ffff;
    max-width: 200px;
    margin: 10px auto 100px;
    padding: 30px;
    font-size: 15px;
    display: grid;
}
.form input{
    font-family: 'Montserrat',sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
}
.form select{
    font-family: 'Montserrat',sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
}
.submit{
    font-family: 'Montserrat',sans-serif
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: cornflowerblue;
}
