body{
    background: #807182;
    height: 100vh;
}
h3{
    text-align: center;
    font-size: 40px;
}
.register_page{
    width: 500px;
    margin: auto;
}
.form{
    font-family: 'Montserrat',sans-serif;
    position: relative;
    z-index: 1;
    background: #F7B1AB;
    max-width: 500px;
    margin: 10px auto 100px;
    padding: 30px;
    font-size: 15px;
    display: grid;
    grid-template-columns: 200px 200px;
    column-gap: 20px;
    row-gap: 1em;
}
.form input{
    font-family: 'Montserrat',sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
}
.form select{
    font-family: 'Montserrat',sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
  
}
.submit{
    font-family: 'Montserrat',sans-serif
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: cornflowerblue;
}
button{
        border: 1px solid rgba(0,0,0,.2);
        height: 38px;
        line-height: 38px;
        width: 100px;
        border-radius: 19px;
        align-items: center;
        position: relative;
        top: 0px; left: 90px;
}
.img{
        align-items: center
}
h4{
    text-align: center;
    font-size: 20px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.p {
  position: relative;
  top: 50px; left: -200px;

}

t {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#aboutapp {
  width: 800px;
  height:300px;
  border: 5px solid black;
  padding: 50px;
  margin: 20px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-150px; /* this is half the height of your div*/  
  margin-left:-400px; /*this is half of width of your div*/
}

about{
    text-align: center;
    font-size: 20px;
}
