body{
    background: #807182;
    height: 100vh;
}
h3{
    text-align: center;
    font-size: 40px;
}
.register_page{
    width: 500px;
    margin: auto;
}
.form{
    font-family: 'Montserrat',sans-serif;
    position: relative;
    z-index: 1;
    background: #F7B1AB;
    max-width: 500px;
    margin: 10px auto 100px;
    padding: 30px;
    font-size: 15px;
    display: grid;
    grid-template-columns: 200px 200px;
    column-gap: 20px;
    row-gap: 1em;
}
.form input{
    font-family: 'Montserrat',sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
}
.form select{
    font-family: 'Montserrat',sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
  
}
.submit{
    font-family: 'Montserrat',sans-serif
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: cornflowerblue;
}
button{
        border: 1px solid rgba(0,0,0,.2);
        height: 38px;
        line-height: 38px;
        width: 100px;
        border-radius: 20px;
        align-items: center
}
.img{
        align-items: center
}
