<!doctype html>
<html>
  <html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Diamond Price Prediction</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='main.css') }}">
    <script src='main.js'></script>
</head>
   <body>
     <div id="intro">
       <div id = "aboutapp">
        <t class="w3-opacity"><i>About this app</i></t>
        <br>
        <br>
 <about> Today, a diamond ring is an absolute necessity when proposing. But buying engagement ring is the most stressful purchase because there is so much money at stake and so little transparency. 
   <br><br>To solve this problem, I build a model using XGBOOST to predict the diamond price. In order to build this model. First, I collect the diamonds data including the price and 11 different features by using web scraping. I trained XGBOOST model using 90% of the data and then test it again using the rest 10% of the data. MAPE for this model on test set is 5.25%. To deploy this powerful machine learning model I built, I created this interactive website. In this website, with all the different diamond features entered, it would give you a market price of this diamond. With this predicted fair market price, you can determine if you are overpaying or underpaying. </about> 
       <br><br> <a href="https://github.com/Yvonnejyy/diamondPricePrediction/blob/main/notebook/Capstone%20Project%20-%20Diamond%20Price%20Prediction.ipynb">Check the code on my GitHub!</a>
       </div>

     <div>
     	<h3><img src= "https://www.freepnglogos.com/uploads/diamond-png/diamond-uncharted-12.png" height = "50px" width = "50px"</img> Diamond Price Prediction</h3>
      <div id="workflow">
       <h5><img src= "https://github.com/Yvonnejyy/herokuDeployment/blob/main/image.png?raw=true" height = "600px" width = "1200px" class="center"</img></h5>
        </div>
        </div>
     </div>
      </result>
   </body>
</html>
